# Gradle files
.gradle/
**/build/
build/

# IntelliJ IDEA files
.idea/
**/.idea/
*.iml
/**/*.iml
**/out/

# Android Studio local properties
local.properties

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Built apks and bundles
*.apk
*.ap_
*.aab
*.dex
